.separator {
    font-size: 14px;
    color: #a8a8b3;
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0px;

    &::before{
        content: '';
        flex: 1;
        height: 1px;
        background-color: #a8a8b3;
        margin-right: 16px;
    }

    &::after{
        content: '';
        flex: 1;
        height: 1px;
        background-color: #a8a8b3;
        margin-left: 16px;
    }
}

.list-contract {
    background: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 8px;

    margin-top: 8px;

    img {
        border: 0px;
        width: 16px;
        height: 16px;
        margin-right: 3px;
    }

    .contract-card {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;

        .contract-info {
            width: 70%;

            img {
                border: 0px;
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
        }
    }
}